.containerbutton{
    display: flex;
    gap: 10px;

}

.container{
    display: grid;
    place-items: center;
}
.button{
    width: 80px;
}

.button:hover{
    background-color: rgb(21, 77, 161);
    border-radius: 5px;
    border-width: 0;
    cursor:pointer;
    color: white;
}
ul {
    list-style: none;
    font-size: 20px;
}